article {
    flex: 1 100%;
    order: 3;
    margin: 1% 14%;
    padding: 20px;
    color: #e6e6db;
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

article > * {
    margin: 0 6% 0% 6%;
}

article section {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 1000px) {
    article > * {
        margin: 2%;
    }
}
@media all and (max-width: 680px) {
    article {
        margin: 3% 0;
        padding: 1%;
    }
}
